<%= form_with(model: pethistory, local: true) do |form| %>
  <% if pethistory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pethistory.errors.count, "error") %> prohibited this pethistory from being saved:</h2>

      <ul>
        <% pethistory.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :pet_id %>
    <%= form.select :pet_id, options_for_select(@pets) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
