<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @pethistory.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @pethistory.height %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pethistory.description %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @pethistory.pet_id %>
</p>

<%= link_to 'Edit', edit_pethistory_path(@pethistory) %> |
<%= link_to 'Back', pethistories_path %>
