<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Pets:</strong><br>
  <% @client.pets.each do |pet|%>
  <strong>Name:</strong> <%= pet.name %><br>
  <p>Max weight:</p> <%= pet.max_weight %><br>
  <p>Max height:</p> <%= pet.max_height %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
